<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.component.css">
    <title>User Authentication</title>
</head>
<body>
    <div class="container">
        <div class="image-container">
            <!-- Insert your image here -->
            <!-- <img src="src\assets\signupimg.png" alt="Your Image"> -->
        </div>
        <div class="form-container">
            <form id="loginForm">
                <h2>Login</h2>
                <!-- Binding obj with form -->
                <label for="emailSignup">Email:</label>
                <input type="email" class="black" id="emailSignup" name="emailSignup" required [(ngModel)]="loginObj.email">
                <label for="passwordSignup">Password:</label>
                <input type="password" id="passwordSignup" class="black" name="passwordSignup" required [(ngModel)]="loginObj.password">
                <button type="submit" (click)="onLogin()">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
